*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
section{
    width: 100%;
    min-height: 100vh;
    background-color: #262626;
}
header{
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.HC_child1,.HC_child2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.HC_child1 i{
    color: blue;
    margin-right: 20px;
    font-size: xx-large;
}
.HC_child1 .call p{
    color: grey;
}
.HC_child1 .call h1{
    font-size: large;
    color: white;
}
.HC_child2 i{
    color: blue;
    margin-right: 20px;
    font-size: xx-large;
}
.HC_child2 .call p{
    color: grey;
}
.HC_child2 .call h1{
    font-size: large;
    color: white;
}
section .navbar{
    width: 100%;
    height: 60px;
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: relative; */
    position: sticky;
    top: 0;
    z-index: 9999;
}
.navbar .nav-links{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .nav-links li{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar .nav-links li a{
  text-decoration: none;
  color: white;
  font-size: large;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar .nav-links li a:hover{
  text-decoration: none;
  color: blue;
  font-size: large;
  text-transform: uppercase;
  font-weight: 700;
  transition: 1s;
}
.navbar .nav-links li a::after{
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  transform: scale(0);
  transition: transform 500ms;
  background-color: rgba(255, 255, 255, 0.377);
}
.navbar .nav-links li a:hover:after{
  transform: scale(1);
}
.navbar .arrow{
  height: 30px;
  width: 30px;
  position: absolute;
  top: 30px;
  left: 10px;
  display: none;
  cursor: pointer;
}
.navbar .arrow .line1,.line2,.line3{
 height: 30%;
 width: 100%;
 margin-top: 2px;
 background-color: white;
 border-radius: 2px;
}
section .profile{
    width: 100%;
    min-height: 400px;
    background-image: url("https://html.modernwebtemplates.com/carrepair/images/parallax/breadcrumbs1.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile ul{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.profile ul li{
   margin: 10px;
   color: rgba(255, 255, 255, 0.623);
   font-size: large;
}
.profile ul li:hover{
    margin: 10px;
    color: rgba(19, 86, 230, 0.623);
    cursor: pointer;
 }
.profile ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.623);
 }
 .profile ul li a:hover{
    text-decoration: none;
    color: rgba(19, 86, 230, 0.623);
 }
 .profile h1{
     color: white;
     font-size: 60px;
     font-weight: bold;
 }
 section .about-us{
     width: 100%;
     min-height: 100vh;
 }
 #aboutus{
     width: 100%;
     height: 100%;
     padding: 100px;   
 }
 #aboutus h1{
    color: white;
    font-weight: bold;
 }
 #aboutus h1::after{
    content: ' ';
    display: block;
    width: 10%;
    height: 4px;
    background-color: blue;
    margin-top: 10px;
}
#aboutus p{
    color: gray;
}
#aboutus .RC_content h3{
    font-size: 25px;
    color: white;
    font-weight: bold;
}
#aboutus img{
    width: 100%;
}
section .company-overview{
    width: 100%;
    min-height: 80vh;
}
.company-overview .co-head{
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-overview .co-head h1{
    color: white;
    font-weight: bold;
    text-align: center;
}
.company-overview .co-head h1::after{
    content: ' ';
    display: block;
    width: 20%;
    height: 4px;
    background-color: blue;
    margin-top: 10px;
    margin-left: 40%;
}
#Com-overview{
    width: 100%;
    height: 100%;
    padding: 100px;   
}
.CO-column{
    padding: 10px;
    text-align: center;
}
.CO-column h1{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.CO-column h1:hover{
    color: blue;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s;
}
.CO-column p{
    color: gray;
}
 footer{
    width: 100%;
    height: 500px;
    background-color: #000915;
    padding: 100px 200px;
}
 footer #footer-top{
   border-bottom: 1px solid gray;
}
 footer  h2{
    color: white;
    text-transform: uppercase;
}
footer  h2::after{
    content: ' ';
    display: block;
    width: 10%;
    height: 2px;
    background-color: blue;
    margin-top: 10px;
 }
 footer #newsletter input{
    color: gray;
   background-color: transparent;
   border-top: none;
   border-left: none;
   border-right: none;
   width: 100%;
   padding: 10px 0px;
   outline: none;
}
 footer #newsletter button{
    background-color: transparent;
    border: 2px solid blue;
    padding: 10px 40px;
    color: white;
    font-weight: 900;
    position: relative;
}
 footer #useful-links .links{
   display: flex;
   justify-content: space-between;
}
 footer #useful-links .links .link1{
    display: flex;
    flex-direction: column;
 }
  footer #useful-links .links .link1 a{
   padding: 5px;
   text-decoration: none;
   color: gray;
 }
  footer #useful-links .links .link1 a:hover{
    padding: 5px;
    text-decoration: none;
    color: blue;
  }
  footer #footer-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
 }
 footer #footer-bottom p{
    color: gray;
 }
 footer #footer-bottom p i{
    color: blue;
 }
 footer #footer-bottom p span{
    color: white;
 }
 footer #footer-bottom p span:hover{
    color: blue;
 }
 footer #footer-bottom .social-media{
   display: flex;
   justify-content: space-between;
  }
  footer #footer-bottom .social-media .SM-links{
   color: gray;
   width: 30px;
   height: 30px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid gray;
   margin: 0 5px; 
  transition: 0.6s;
 }
 footer #footer-bottom .social-media .SM-links:hover{
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    margin: 0 5px; 
    transition: 0.6s;
  }
footer  button .qqq2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    transform: scaleX(0);
    transition: .5s;
    z-index: -1;
}
 footer  button:hover .qqq2{   
    width: 100%;
    height: 100%;
    background-color: blue;
    transform: scaleX(1);
    transition: .5s;
  }

  .to-top{
    background: white;
    position: fixed;
    bottom: 16px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    z-index: 10000;
}

.to-top.activeScroll{
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}
@media(max-width: 1177px){
    header{
        width: 100%;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    header .logo{
        margin-top: 5px;
    }
    header .contact{
       width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }
}
@media(max-width: 1000px){
     footer{
        width: 100%;
        height: 800px;
        background-color: #000915;
        padding: 20px;
    }
    footer #footer-bottom{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
     }
     footer #footer-bottom .social-media{
        display: flex;
        justify-content: center;
       }
}
@media(max-width: 850px){
    .profile h1{
        color: white;
        font-size: 40px;
        font-weight: bold;
    }
    #aboutus{
        width: 100%;
        height: 100%;
        padding: 20px;   
    }
    #Com-overview{
        width: 100%;
        height: 100%;
        padding: 20px;   
    }
}
@media(max-width: 700px){

    .navbar .nav-links{
        position: absolute;
        top: 8vh;
        left: 0;
        width: 100%;
        height: 55vh;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: #110f0f;
        transform: translateX(-100%);      
    }
    .navbar .display{
        transform: translateX(0%);
        transition: 1s;
    }
    .navbar .arrow{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 12px;
        left: 10px;
        display: block;
        cursor: pointer;
    }
    .toggle1{
        transform: rotate(45deg) translate(9px,7px);
        transition: 1s;
    }
    .toggle2{
        display: none;
    }
    .toggle3{
        transform: rotate(-45deg);
        transition: 1s;
    }
     .profile h1{
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
}